@model ThaiSonBacDMS.Areas.KeToan.Models.ListModel
@{
    ViewBag.Title = "Release";
    Layout = "~/Areas/KeToan/Views/Shared/_Layout.cshtml";
}
<style>
    #dtTable {
        background-color: rgb(240, 240, 240);
    }

        #dtTable thead tr th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #3c8dbc;
            color: #fff;
        }

        #dtTable tbody td:nth-child() {
            text-align: left;
        }

        #dtTable tbody td:nth-child() {
            text-align: right;
        }
</style>
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>&nbsp;&nbsp;&nbsp;@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>Đơn hàng</li>
        <li class="active">Phiếu đang chờ</li>
    </ol>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <b>DANH SÁCH PHIẾU ĐANG CHỜ</b>
                                </h4>
                            </div>
                            <div class="row" style="margin-left:0px; margin-right:0px">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Tìm kiếm theo</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left; width: 10%">Lô số</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                                                                <input type="text" id="orderId" class="form-control" placeholder="Lô số...">
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%">Khách</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                <input type="text" id="customer" class="form-control" placeholder="Khách...">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Ngày </td>
                                                        <td>
                                                            <div class="col-sm-5 no-padding">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">Từ</span>
                                                                    <input type="text" class="form-control datepicker" id="fromDate">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">Đến</span>
                                                                    <input type="text" class="form-control datepicker" id="toDate">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>Tổng tiền</td>
                                                        <td>
                                                            <div class="col-sm-5 no-padding">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Từ</span>
                                                                    <input type="number" class="form-control" id="fromTotal">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Đến</span>
                                                                    <input type="number" class="form-control" id="toTotal">
                                                                </div>
                                                            </div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Trạng thái</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                                                                <select class="form-control" id="status">
                                                                    <option value="13">--Select--</option>
                                                                    <option value="3">Đã xuất phiếu</option>
                                                                    <option value="10" class="text-yellow">Đã xuất kho</option>
                                                                    <option value="11" class="text-yellow">Đang giao hàng</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            Loại phiếu
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                                                                <select class="form-control" id="type">
                                                                    <option value="0">--Select--</option>
                                                                    <option value="1">Giao một lần</option>
                                                                    <option value="2">Giao nhiều lần</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer clearfix">
                                            <div class="pagination pagination-sm no-margin pull-right">
                                                <button type="button" class="btn btn-block btn-primary" id="btnSearch">Tìm kiếm <i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="item">
                            @Html.Partial("_searchPartial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section List {
    <script src="/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/Assets/dist/js/autoNumeric.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                $.ajax({
                    url: "/KeToan/OrderList/Search",
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    data: getData(),
                    success: function (data) {
                        $('#item').html(data);
                        setTable();
                    }
                });
            });
            setTable();
        });
        function setTable() {
            $('#dtTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'language': {
                    "info": "Đang hiển thị _START_ tới _END_ tổng số _TOTAL_ kết quả",
                    "lengthMenu": "Hiển thị _MENU_ kết quả",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Tiếp",
                        "previous": "Trước"
                    }
                }
            });
            $('.datepicker').datepicker();
            customerATC();
            $('.number').autoNumeric('init', { minimumValue: '1', maximumValue: '9999999999999', digitGroupSeparator: ',', decimalPlacesOverride: '0' });
        }
        function customerATC() {
            $('#customer').autocomplete({
                source: function (req, responseFn) {
                    var re = req.term;
                    if (re.length > 2) {
                        $.ajax({
                            url: '/KeToan/Home/ChooseCustomer',
                            data: {
                                name: re
                            },
                            dataType: "json",
                            success: function (data) {
                                var array = data.error ? [] : $.map(data, function (m) {
                                    return {
                                        label: m,
                                        value: m
                                    };
                                });
                                responseFn(array);
                            }
                        });
                    }
                }
            }).autocomplete("widget").addClass("fixed-height");
        }
        function getData() {
            var orderId = $('#orderId').val();
            var customer = $('#customer').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var status = $('#status').val();
            var type = $('#type').val();
            var fromTotal = $('#fromTotal').val();
            var toTotal = $('#toTotal').val();
            var model = {
                orderId: orderId, customer: customer, fromDate: fromDate, toDate: toDate,
                fromTotal: fromTotal, toTotal: toTotal, statusId: status, orderType: type
            };
            return model;
        }
    </script>
}

