@model ThaiSonBacDMS.Areas.PhanPhoi.Models.ListModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout1.cshtml";
}
<style>
    #dtTable {
        background-color: rgb(240, 240, 240);
    }

        #dtTable thead tr th {
            vertical-align: middle !important;
            text-align: center;
            background-color: #3c8dbc;
            color: #fff;
        }

        #dtTable tbody td:nth-child() {
            text-align: left;
        }

        #dtTable tbody td:nth-child() {
            text-align: right;
        }
</style>
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>&nbsp;&nbsp;&nbsp;@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>Đơn hàng</li>
        <li class="active">Phiếu giữ hàng</li>
    </ol>
</section>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <b>DANH SÁCH PHIẾU GIỮ HÀNG</b>
                                </h4>
                            </div>
                            <div class="row" style="margin-left:0px; margin-right:0px">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Tìm kiếm theo</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:left; width: 10%">Lô số</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-file"></i></span>
                                                                <input type="text" id="orderId" class="form-control" placeholder="Lô số...">
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%">Khách</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                <input type="text" id="customer" class="form-control" placeholder="Khách...">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:left">Ngày </td>
                                                        <td>
                                                            <div class="col-sm-5 no-padding">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">Từ</span>
                                                                    <input type="text" class="form-control datepicker" id="fromDate">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">Đến</span>
                                                                    <input type="text" class="form-control datepicker" id="toDate">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>Tổng tiền</td>
                                                        <td>
                                                            <div class="col-sm-5 no-padding">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Từ</span>
                                                                    <input type="number" class="form-control" id="fromTotal">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-sm-offset-1 no-padding">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">Đến</span>
                                                                    <input type="number" class="form-control" id="toTotal">
                                                                </div>
                                                            </div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left;">
                                                            Loại phiếu
                                                        </td>
                                                        <td>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                                                                <select class="form-control" id="type">
                                                                    <option value="0">--Select--</option>
                                                                    <option value="1">Giao một lần</option>
                                                                    <option value="2">Giao nhiều lần</option>
                                                                </select>
                                                            </div>
                                                            <input type="hidden" value="@Model.statusId" id="status" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer clearfix">
                                            <div class="pagination pagination-sm no-margin pull-right">
                                                <button type="button" class="btn btn-block btn-primary" id="btnSearch">Tìm kiếm <i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="item">
                            @Html.Partial("_searchPartialSpecial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section List {
    <script src="/Assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/Assets/dist/js/autoNumeric.min.js"></script>
    <script src="/Assets/dist/js/OrderList.js"></script>
}

