
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thái Sơn Bắc - TSB</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Back to top -->
    <link rel="stylesheet" href="/Assets/dist/css/back-to-top.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
            folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Assets/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/Assets/dist/css/font/GoogleFont.css">
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="phanphoi_index.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>T</b>SB</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="margin-left: -15px;">
                    <img style="width:50px; height:50px;" class="img-responsive pull-left" src="/Assets/dist/img/Logo TSB - Final.png" alt="Photo">
                    <b style="margin-right: 35px;">Phân phối</b>
                    <span style="position: absolute; margin-top: 15px; margin-left: -130px; font-size: x-small;"><small>Phân hệ</small></span>
                </span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">5</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Bạn có 5 thông báo mới</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="phanphoi_donhang_chi-tiet-phieu-giao-nhieu-lan.html">
                                                <i class="fa fa-shopping-cart text-green"></i> Lô hàng số 81264-1#1 đã hoàn thành
                                                <div class="pull-right">1 phút trước</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="phanphoi_donhang_danh-sach-phieu-giu-hang.html">
                                                <i class="fa fa-shopping-cart text-green"></i> Lô hàng số 89665-0 đang chờ xử lý
                                                <div class="pull-right">8 phút trước</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="sua_phieu_0.html">
                                                <i class="fa fa-shopping-cart text-green"></i> Lô hàng số 89659-0 đang chờ xử lý <p /> đổi trả
                                                <div class="pull-right">55 phút trước</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="phanphoi_donhang_chi-tiet-phieu-giao-mot-lan.html">
                                                <i class="fa fa-shopping-cart text-green"></i> Lô hàng số 89664-0 đang chờ xử lý
                                                <div class="pull-right">1 giờ trước</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="phanphoi_donhang_chi-tiet-phieu-giao-nhieu-lan.html">
                                                <i class="fa fa-shopping-cart text-green"></i> Lô hàng số 81264-1#2 đang xử lý
                                                <div class="pull-right">1 giờ trước</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">Xem tất cả</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Assets/dist/img/user2-160x160.jpeg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Lã Mạnh Đạt</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Assets/dist/img/user2-160x160.jpeg" class="img-circle" alt="User Image">

                                    <p>
                                        Lã Mạnh Đạt<small>Nhân viên bán hàng</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="phanphoi_nguoidung_thong-tin-nguoi-dung.html" class="btn btn-default btn-flat">Hồ sơ</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="login.html" class="btn btn-default btn-flat">Thoát</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Assets/dist/img/user2-160x160.jpeg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Trần Anh Minh</p>
                        <a href="#">
                            <i class="fa fa-circle text-success"></i> Trực tuyến
                        </a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group" style="padding-bottom: 0px;">
                        <input type="text" name="q" class="form-control" placeholder="Tìm Kiếm...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">

                    <li class="">
                        <a href="ketoan_index.html">
                            <i class="fa fa-file-o"></i>
                            <span>Phiếu đang chờ</span>
                            <span class="pull-right-container">
                                <span class="label label-primary bg-green">2</span>
                                <span class="label label-primary bg-blue">new</span>
                            </span>
                        </a>
                    </li>

                    <li class="">
                        <a href="ketoan_danh-sach-phieu-da-xuat.html">
                            <i class="fa fa-file-text"></i>
                            <span>Phiếu đã xuất</span>
                            <span class="pull-right-container">
                                <span class="label label-primary bg-green">1</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2017 <a href="http://www.thaisonbac.com.vn/">Bản quyền thuộc Thái Sơn Bắc</a>.</strong>
            <a href="#0" class="cd-top">Top</a>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/Assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/dist/js/adminlte.min.js"></script>
    <!-- back-to-top -->
    <script src="/Assets/dist/js/back-to-top.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/dist/js/demo.js"></script>
    <!-- page script -->
</body>
</html>
