
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HangHoa/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <div class="error-content">
            <h3><i class="fa fa-ravelry text-yellow"></i> @ViewBag.ErrorString</h3>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->

