
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HangHoa/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Trang Chủ
            </a>
        </li>
        <li>
            <a href="#">
                <i class=""></i> Phiếu chờ xử lí
            </a>
        </li>
        <li>
            <a href="#">
                <i class=""></i> Chờ hàng
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <b>DANH SÁCH HÀNG CHỜ</b>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Tìm kiếm theo</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Lô số</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Lô số...">
                                                    </div>
                                                </td>
                                                <td>Tên khách hàng</td>
                                                <td style="width:490px">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <input type="text" style="width:350px" class="form-control" placeholder="Tên...">
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr colspan="2">
                                                <td>Số hóa đơn</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Số hoá đơn...">
                                                    </div>
                                                </td>
                                                <td>Ngày giao</td>
                                                <td>

                                                    <div class="input-group date col-sm-5 no-padding" style="float:left">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input style="width:150px" type="text" class="form-control" placeholder="Từ ngày...">
                                                    </div>
                                                    <div class="input-group date col-sm-6 col-sm-offset-1 no-padding">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input style="width:150px" type="text" class="form-control" placeholder="Đến ngày...">
                                                    </div>
                                                </td>


                                            </tr>
                                            <tr>
                                                <td>Lựa chọn giao</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-hourglass"></i>
                                                        </span>
                                                        <select class="form-control" style="font-family: 'FontAwesome';">
                                                            <option>Khách đến lấy</option>
                                                            <option>30A-342.21</option>
                                                            <option>29A-652.12</option>
                                                            <option>28A-113.121</option>
                                                            <option>Xe máy</option>
                                                            <option>Thuê xe</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>Nhân viên giao</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select class="form-control" style="font-family: 'FontAwesome';width:350px">
                                                            <option>Lương Đức Chinh</option>
                                                            <option>Hà Văn Thanh</option>
                                                            <option>Vũ Xuân Trường</option>
                                                            <option>Nguyễn Văn Hậu</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Lái xe</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select class="form-control" style="font-family: 'FontAwesome';">
                                                            <option>Nguyễn Ngọc Hải</option>
                                                            <option>Nguyễn Văn Toàn</option>
                                                            <option>Lê Duy Mạnh</option>
                                                            <option>Trần Minh Long</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>Trạng thái</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-hourglass"></i>
                                                        </span>
                                                        <select class="form-control" style="font-family: 'FontAwesome';width:350px">
                                                            <option>Kế toán đã xử lý</option>
                                                            <option class="text-yellow">Kế toán đã xử lý&#xf071;</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <div class="pagination pagination-sm no-margin pull-right">
                                        <button type="button" class="btn btn-block btn-primary">
                                            Tìm kiếm
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Lô số</th>
                                        <th>Tên khách hàng</th>
                                        <th>Số hóa đơn</th>
                                        <th>Nhận phiếu</th>
                                        <th>Nhận hóa đơn</th>
                                        <th>Trạng Thái</th>
                                        <th>Ngày giao</th>
                                        <th>Ghi chú</th>
                                        <th>Sửa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81269-0</a></td>
                                        <td>Công ty Long Giang</td>
                                        <td>24329</td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <span class="label label-success">Kế toán đã xử lý</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 15-12-2017</td>
                                        <td>
                                            <a id="btn_row1" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row1">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81268-0</a></td>
                                        <td>Công ty Phú An</td>
                                        <td>24328</td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <span class="label label-success">Kế toán đã xử lí</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 11-12-2017</td>
                                        <td>
                                            <a id="btn_row2" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row2">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81267-1</a></td>
                                        <td>Công ty Invico</td>
                                        <td>24327</td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <span class="label label-success">Kế toán đã xử lí</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 19-11-2017</td>
                                        <td>
                                            <a id="btn_row3" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row3">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        >
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81266-1</a></td>
                                        <td>Công ty Sáng Hà</td>
                                        <td>24326</td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <span class="label label-primary">Đã xuất phiếu</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 19-11-2017</td>
                                        <td>
                                            <a id="btn_row4" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row4">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81265-1</a></td>
                                        <td>Công ty Vạn Xuân</td>
                                        <td>24325</td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled />
                                        </td>
                                        <td>
                                            <span class="label label-primary">Đã xuất phiếu</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 19-11-2017</td>
                                        <td>
                                            <a id="btn_row5" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row5">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><a href="hanghoa_donhang_chi-tiet-don-hang.html">81264-1</a></td>
                                        <td>Công ty Tương Lai</td>
                                        <td>24324</td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <input type="checkbox" disabled>
                                        </td>
                                        <td>
                                            <span class="label label-success">Kế toán đã xử lý</span>
                                        </td>
                                        <td></td>
                                        <td>Giao trước 01-11-2017</td>
                                        <td>
                                            <a id="btn_row6" href="javascript:void(0);" class="btn btn-app custom-btn smallBtn" data-toggle="tooltip" title="Xuất kho" data-placement="bottom">
                                                <i class="fa fa-sign-out text-blue"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr id="row6">
                                        <td colspan="10">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>Lựa chọn giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-hourglass"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Khách đến lấy</option>
                                                                <option>30A-342.21</option>
                                                                <option>29A-652.12</option>
                                                                <option>28A-113.121</option>
                                                                <option>Xe máy</option>
                                                                <option>Thuê xe</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Nhân viên giao hàng</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Lương Đức Chinh</option>
                                                                <option>Hà Văn Thanh</option>
                                                                <option>Vũ Xuân Trường</option>
                                                                <option>Nguyễn Văn Hậu</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>Lái xe</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <select class="form-control" style="font-family: 'FontAwesome';">
                                                                <option>Nguyễn Ngọc Hải</option>
                                                                <option>Nguyễn Văn Toàn</option>
                                                                <option>Lê Duy Mạnh</option>
                                                                <option>Trần Minh Long</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-8">
                                                        <a id="btn_row11" class="btn btn-default btn-block" data-toggle="tooltip" title="Hủy" data-placement="bottom">Hủy</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a class="btn btn-danger btn-warning btn-block btn-block" data-toggle="modal" title="Xuất kho" data-target="#confirmSend">Xuất kho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


