
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PhanPhoi/Views/Shared/_Layout1.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="row" style="margin-left:0px; margin-right:0px; margin-top: 10px; margin-bottom: -10px;">
                    <div class="col-md-12">
                        <h4>
                            <b>Quy Trình Xử Lí</b>
                        </h4>
                    </div>
                </div>
                <div class="box-body">
                    <div class="box">
                        <img src="@ViewBag.LinkImage" alt="work flow" style="margin-top: 40px; margin-bottom: 20px; margin-left: 30px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

