/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2017, 9:08:49 AM
    Author     : ChinoChino
*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom:  50px;
}

th,td{
    padding: 10px 5px 10px 25px;
    border: 1px solid black;
}

td{
    text-align: right; 
}

th{
    text-align: center; 
}

tr:hover td{
    background-color: #ffff66 !important;
}

tfoot{ 
    font-weight: bold;
}

.highlight{
    font-weight: bold;
}
a {
    color: black;
	 text-decoration: none;
}

 a:hover {
 font-weight: bold;
 }

