.wrap-div{
    width: 90%;
    overflow: auto;
}

#tbl-content{
    border-collapse: collapse;
    border: 1px solid;
    width: 90%;
    margin: 40px auto;
}

#tbl-content tr td{
    border: 1px solid;
    height: 25px;
    font-size: 17px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    text-align: right;
}

#tbl-content tr th{
    height: 25px;
    /*background-color: #cccccc;*/
    font-size: 17px;
    border: 1px solid;
}

#tbl-content tr:hover td{
    background-color: #ffff66 !important;
}

a {
    color: black;
	 text-decoration: none;
}

 a:hover {
 font-weight: bold;
 }
