<a href="@Url.Action("Store", "OrderList")" id="scrollContainer" class="navbar-custom-menu pull-left">
    <div id="scrollBox">
        @foreach (var i in Model)
        {
            <p>@i</p>
        }
    </div>
</a>
